body {
    /* font-family: Arial, sans-serif; */
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1100px;
    margin: 40px auto 10px auto;
} 

/* start banner */
.gs-banner {
    position: relative;
    display: flex;
    background-color: #3250BC;
    height: 400px;
    overflow: hidden;
    border-radius: 16px;
  }
  .gs-banner-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    font-style: italic;
    padding-left: 40px;
    padding-bottom: 80px;
    z-index: 10;
  }

  .gs-banner-left {
    display: flex;
    width: 50%;
    /* flex: 1; */
    align-self: end;
    z-index: 10;
  }
  .gs-banner-left img {
    width: 100%;
  }
  .gs-banner-ellipse1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .gs-banner-ellipse2 {
    position: absolute;
    bottom: -100px;
    right: -26px;
  }
  .gs-banner-ellipse3 {
    position: absolute;
    bottom: 0;
    left: 20px;
  }

/* end banner */
.survey-content {
    max-width: 800px;
    margin: 40px auto 10px auto;
}

.display-none {
    display: none;
}

.survey-title {
    font-size: 16px;
    margin-top: 40px;
    background-color: #506dd6;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
}
.survey-title--desc {
    font-size: 16px;
    margin-top: 40px;
    color: #506dd6;
}
.info-class__table {
    width: 86%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-class__table-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-class__table .title {
    color: #3250BC;
    font-size: 16px;
    font-weight: 500;
}

.info-class__table .value {
    font-size: 16px;
    margin-left: 40px;
    font-style: italic;
}

/* interest */
.e-rating__title {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}



/* review */ 
.info-review {
    width: 100%;
}

.info-review__input {
    width: 86%;
    margin: 0 auto;
    text-align: center;
}

.info-review__input textarea{
    width: 100%;
    border-radius: 8px;
    outline: none;
    padding: 8px 15px;
}

.error-message {
    text-align: center;
    font-size: 12px;
    color: #da5d33;
    margin: 40px 0 10px 0;
}

.btn-confirm {
    text-align: center;
}

.btn-confirm button {
    background-color: #02830F;
    color: white;
    padding: 15px 40px;
    border-radius: 8px;
    outline: none;
    border: none;
}
.btn-confirm button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.footer-helper {
    margin: 30px 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #02830F;
}
